<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Article</title>
    </head>
    <body>
        <h1 id="article-name"></h1>
        <p id="article-description"></p>
        <img id="article-image" alt="">
        <p>Price: <span id="article-price"></span></p>
        <p>Quantity: <span id="article-quantity"></span></p>
        <button onclick="window.location.href = '/articles';">Return to Articles</button>
        <button onclick="window.location.href = '/index.html';">Return to Index</button>
        <script src="/scripts.js"></script>
    </body>
</html>
